body{
    background-color: yellow;
}
h1{
    color: red; text-align: center;
}
p{
    color: green; font-size: medium;
}
p1{
    color: blue;
<<<<<<< HEAD
}
=======
}
>>>>>>> ea40315da9143cf6a6ce47e8f28c27aabb063f25
